@import "./assets/Montserrat/stylesheet.css";

:root {
  --primary-color: #15616d;
  --secondary-color: #001524;
  --tertiary-color: #ff7d00;
  --fourthly-color: #78290f;
  --fifthly-color: #ffecd1;
  --dark: #001500;
  --light: #f0ffff;
  --noColor: none;

  --BackgroudMenuBurger: var(--light);
  --textColorWhite: var(--secondary-color);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #15616d;
  margin-top: 4em;
  padding: 1em;

  @media (min-width: 769px) {
    margin-top: 5em;
  }
}
