* {
  box-sizing: border-box;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.dashboardBox {
  width: calc(100% - 2rem);
  background-color: var(--light);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.dashboardTitle {
  color: var(--secondary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  background-color: whitesmoke;
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.detailsImage {
  width: 3em;
  height: 3em;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.detailsInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detailsInput {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.placeholderImage {
  width: 100%;
  height: 150px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.placeholderImagePlus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.placeholderImagePlus svg {
  fill: var(--secondary-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.placeholderImagePlus svg:hover {
  transform: scale(1.1);
}

.imagesContainer {
  display: flex;
  gap: 0.5rem;
}

.imagesContainer .placeholderImage {
  flex: 1;
  height: 150px;
}

.placeholderImageSmall {
  width: 50%;
  height: 100px;
  background-color: var(--secondary-color);
  margin: 1rem auto 0 auto;
  border-radius: 10px;
}

.dashboardButtons {
  display: flex;
  gap: 0.5rem;
}

.buttonLarge {
  flex: 2;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  width: 3em;
  height: 3em;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.buttonSmall {
  flex: 1;
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 2em;
  height: 2em;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
