.vehicleManagementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1em;
  margin-top: 2em;
  background-color: var(--light);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.603) 0px 4px 6px;
}

.tableContainer {
  border: solid;
  border-collapse: collapse;
  border-radius: 5px;
  font-size: 10px;
  @media screen and (min-width: 550px) {
    font-size: 14px;
  }
  @media screen and (min-width: 550px) {
    font-size: 18px;
  }
}

.tableContainer button {
  margin: 5px;
  font-size: 10px;
  @media screen and (min-width: 550px) {
    font-size: 14px;
  }
  @media screen and (min-width: 550px) {
    font-size: 18px;
  }
}

tbody tr {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgb(206, 219, 219);
}
