.ContainerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Button {
  background-color: #ff7d00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  position: relative;
}

.Button:hover {
  background-color: #ff7d00;
  color: white;
  transform: scale(1.1);
}
