@import "../../../root.css";

.NavPC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}
@media (max-width: 767.99px) {
  .NavPC {
    display: none;
  }
}

.NamePageNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: fixed;
  top: 10px; /* A revoir */
  left: 50%;
  transform: translate(-50%, -50%);
}

.ContainerLogLogoNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.LogoNavPC > img {
  width: 100px;
  height: 100px;
}
