@import "../../../root.css";

.CaleNavPC {
  width: 100%;
  height: 83.5px;
}

.NavPC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  box-shadow: var(--box-shadow);
}
@media (max-width: 767.99px) {
  .NavPC {
    display: none;
  }
}

.ContainerLogNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NamePageNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: fixed;
  top: 40px; /* A revoir */
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 7;
}

.NamePageNavPC > a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.NamePageNavPC > a > h1 {
  margin: 0;
  padding: 0;
  font-size: var(--h2);
}
@media (min-width: 768px) and (max-width: 875px) {
  .NamePageNavPC > a > h1 {
    font-size: var(--h2);
  }
}
@media (min-width: 875px) and (max-width: 1500px) {
  .NamePageNavPC > a > h1 {
    font-size: var(--h1);
  }
}
@media (min-width: 1500px) {
  .NamePageNavPC > a > h1 {
    font-size: var(--h1);
  }
}

.LogoNavPC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.LogoNavPC > img {
  width: 80px;
  height: 80px;
}

/*--------------------------------------------------*/
/* Logique des Ul, Li, et a de la NavPC */

.MenuUlPC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.MenuLiPC {
  list-style: none;
  margin: 1em;
  transition: transform 0.3s ease-in-out;
}
.MenuLiPC:hover {
  animation: rotateAndScale 1.0s ease-in-out forwards; /* Animation rapide et s'arrête après 1.5s */
}

/* Animation avec rotation gauche-droite-gauche et grossissement */
@keyframes rotateAndScale {
  0% {
    transform: scale(1.1); /* Position initiale */
  }
  25% {
    transform: scale(1.0); /* Rotation gauche avec grossissement */
  }
  50% {
    transform: scale(1.1); /* Rotation droite avec grossissement */
  }
  75% {
    transform: scale(1.0); /* Retour à gauche avec grossissement */
  }
  100% {
    transform: scale(1.1); /* Retour à la position initiale sans grossissement */
  }
}

.MenuLinkPC {
  text-decoration: none;
  color: var(--textcolor);
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 875px) {
  .MenuLinkPC {
    font-size: var(--h5);
  }
}
@media (min-width: 875px) and (max-width: 1500px) {
  .MenuLinkPC {
    font-size: var(--h4);
  }
}
@media (min-width: 1500px) {
  .MenuLinkPC {
    font-size: var(--h3);
  }
}

/*--------------------------------------------------*/
/* Sous Menu Nous*/

.SousNavLiPC {
  position: relative;
}
.SousNavLiPC:hover .SousMenuUlPC {
  display: block;
}

.SousNavSpanPC {
  font-size: var(--h5);
  color: var(--textcolor);
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 875px) {
  .SousNavSpanPC {
    font-size: var(--h5);
  }
}
@media (min-width: 875px) and (max-width: 1500px) {
  .SousNavSpanPC {
    font-size: var(--h4);
  }
}
@media (min-width: 1500px) {
  .SousNavSpanPC {
    font-size: var(--h3);
  }
}

.SousMenuUlPC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 5px 0px 0px 5px;
  background-color: var(--light);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.SousMenuLiPC {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0px 3px 0px;
}

.SousMenuLinkPC {
  text-decoration: none;
  display: block;
  font-size: var(--h5);
  color: var(--textcolor);
  font-weight: bolt;
  width: 70px;
}
@media (min-width: 768px) and (max-width: 875px) {
  .SousMenuLinkPC {
    font-size: var(--h5);
  }
}
@media (min-width: 875px) and (max-width: 1500px) {
  .SousMenuLinkPC {
    font-size: var(--h4);
  }
}
@media (min-width: 1500px) {
  .SousMenuLinkPC {
    font-size: var(--h3);
  }
}
