@import "../../../root.css";

.NavMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NavMobile > a {
  text-decoration: none;
  color: inherit;
}

.NavMobile > h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
  color: var(--textColorWhite);
}

/*-----------------------------------------------*/
/*Logique du Logo qui tourne*/

.LogoMobile {
  display: inline-block; /* Ajuste la largeur et la hauteur au contenu */
  position: relative; /* Nécessaire pour positionner les faces */
  transform-style: preserve-3d; /* Active l'effet 3D */
  animation: flip 2s infinite ease-in-out; /* Animation de rotation */
}

.LogoMobile .front,
.LogoMobile .back {
  position: absolute; /* Superpose les deux faces */
  top: 0;
  left: 0;
  width: 100%; /* La largeur suit le contenu */
  height: 100%; /* La hauteur suit le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; /* Cache la face non visible */
  font-size: inherit; /* Conserve la taille de police du parent */
  margin: 0; /* Supprime les marges par défaut des h1 */
}

.LogoMobile .back {
  transform: rotateY(180deg); /* Retourne la face arrière */
}

/* Animation */
@keyframes flip {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}

/*-----------------------------------------------*/
/*Menu Burger*/

/*Position du Menu Burger*/
.sideNav {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: var(--BackgroudMenuBurger);
  transition: right 0.5s ease;
}

.sideNav.active {
  right: 0;
}

/*Logique ouverture et fermeture MenuBurger*/
.closeBtn {
  margin: 1rem 0rem 0rem 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background: linear-gradient(135deg, #3498db, #8e44ad); /* Dégradé bleu-violet */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.closeBtn:hover {
  transform: rotate(90deg) scale(1.1); /* Légère rotation et agrandissement */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Ombre renforcée */
  background: linear-gradient(135deg, #3498db, #2980b9); /* Dégradé de couleur */
}

.openBtn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--primary-color);
}
.menuBurger > span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: var(--textColorWhite);
  margin: 0.5rem 0rem;
}

.closeBtn,
.openBtn {
  outline: none; /* Supprime le contour au clic */
  border: none; /* Supprime les bordures */
}

.closeBtn:focus,
.openBtn:focus {
  outline: none; /* Supprime le contour au focus */
  box-shadow: none; /* Supprime tout effet de surbrillance au focus */
}

.closeBtn:hover,
.openBtn:hover {
  outline: none; /* Supprime le contour au survol */
  box-shadow: none; /* Supprime tout effet de surbrillance au survol */
}

/*-----------------------------------------------*/

/*Contenu du Menu Burger*/
.sideNav > div {
  display: flex;
  justify-content: start;
  padding: 0rem 0rem 3rem 0rem;
}

/*Bouttons language drapeaux*/

.sideNav > section {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
}
