@import "../../../root.css";

.NavMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    display: none;
  }
}

.NavMobile > a {
  text-decoration: none;
  color: inherit;
}

.NavMobile > h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
  color: var(--textColorWhite);
}

/*-----------------------------------------------*/
/*Menu Burger*/

/*Position du Menu Burger*/
.sideNav {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -250px;
  background-color: var(--BackgroudMenuBurger);
  transition: right 0.5s ease;
}

.sideNav.active {
  right: 0;
}

/*-----------------------------------------------*/
/*Logique de fermeture du MenuBurger par la div*/

.subSideNav {
  all: unset;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  top: 0;
  left: -100vw;
  background-color: inherit;
}

.subSideNav.active {
  left: 0;
}

/*-----------------------------------------------*/
/*Logique ouverture et fermeture MenuBurger*/
.openBtn {
  position: fixed;
  z-index: 9;
  top: 0.7rem;
  right: 1rem;
  background-color: var(--noColor);
  cursor: pointer;
}

.menuBurger > span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: var(--textColorWhite);
  margin: 0.5rem 0rem;
}

.closeBtn,
.openBtn {
  outline: none; /* Supprime le contour au clic */
  border: none; /* Supprime les bordures */
}

/*Suppression des contours buttons*/
.closeBtn:focus,
.openBtn:focus {
  outline: none; /* Supprime le contour au focus */
  box-shadow: none; /* Supprime tout effet de surbrillance au focus */
}

.closeBtnLog1:hover,
.openBtn:hover,
.closeBtnLog2 {
  outline: none; /* Supprime le contour au survol */
  box-shadow: none; /* Supprime tout effet de surbrillance au survol */
}

/*Container du bouton close MenuBurger*/
.logCloseBtn {
  display: flex;
  justify-content: start;
  width: 250px;
  padding: 0rem 0rem 3rem 0rem;
}

/*Logique 1*/
.closeBtnLog1 {
  margin: 1rem 0rem 0rem 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background: linear-gradient(135deg, #3498db, #8e44ad); /* Dégradé bleu-violet */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.closeBtnLog1:hover {
  transform: rotate(90deg) scale(1.1); /* Légère rotation et agrandissement */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Ombre renforcée */
  background: linear-gradient(135deg, #3498db, #2980b9); /* Dégradé de couleur */
}

/*Logique 2, 3 et 4*/
.closeBtnLog2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 0rem 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  transition: transform 0.3s ease;
}

.closeBtnLog2:hover {
  transform: rotate(90deg) scale(1.1);
}

.ImgCloseBtn {
  width: 60px;
  height: 60px;
}
/*-----------------------------------------------*/
/*Boutons langage drapeaux*/

.sideNav > section {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
}
