.backofficeNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  margin: 1em;
  margin-top: 2em;
  background-color: var(--light);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.603) 0px 4px 6px;
}

h1 {
  text-align: center;
}

.backofficeNavContainer ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
}

.backofficeNavContainer li {
  background-color: black;
  border: solid;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 0.3em;
}

.backofficeNavContainer a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
}
