.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--light);
  color: var(--dark);
  background-color: var(--light);
  border-radius: 0px 0px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    width: 95%;
  }

  @media screen and (min-width: 1192px) {
    width: 96%;
  }

  @media screen and (min-width: 1434px) {
    width: 97%;
  }
  @media screen and (min-width: 1900px) {
    width: 98.5%;
  }
}

.title {
  white-space: nowrap;
  font-size: clamp(16px, 6vw, 32px);
}

.logo {
  width: 1.5em;

  @media screen and (min-width: 768px) {
    width: 2em;
  }
}

.balance {
  width: 1.5em;

  @media screen and (min-width: 768px) {
    width: 2em;
  }
}
