.pointsContainer {
  background-color: var(--light);
  padding: 16px;
  border-radius: 8px;
  margin-top: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.pointsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.pointsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.pointsLabel {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.pointsValue {
  font-size: 24px;
  font-weight: bold;
  margin: 4px 0 0;
}

.actionButton {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: var(--light);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: var(--tertiary-color);
}
